root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.java]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
ij_java_use_single_class_imports = true
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand = 999
ij_java_generate_final_parameters = true
ij_java_generate_final_locals = true

[*.md]
trim_trailing_whitespace = false
