{{#tags}}
## {{name}}
    {{#commits}}
- [https://github.com/MinecraftModDevelopment/MMDBot/commit/{{hashFull}}]({{{messageTitle}}}) - {{{authorName}}}
            {{#messageBodyItems}}
    + {{.}}
            {{/messageBodyItems}}
    {{/commits}}
{{/tags}}
