<configuration>
    <!--Log levels include ERROR, WARN, INFO, DEBUG, TRACE -->
    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d %green([%thread]) %highlight(%level)
                %logger{50}/%marker - %msg%n
            </pattern>
        </encoder>
    </appender>
    <!--Log levels include ERROR, WARN, INFO, DEBUG, TRACE -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CHANNEL"
              class="com.mcmoddev.mmdbot.utilities.console.ConsoleChannelAppender">
        <allowMentions>false</allowMentions>
        <layout
                class="com.mcmoddev.mmdbot.utilities.console.ConsoleChannelLayout">
            <prependLevelName>false</prependLevelName>
        </layout>
    </appender>

    <!--Log levels include ERROR, WARN, INFO, DEBUG, TRACE -->
    <root level="WARN">
        <appender-ref ref="CHANNEL"/>
    </root>
</configuration>
