name: Java CI with Gradle

on:
  push:
    branches: [ 2.0 ]
  pull_request:
    branches: [ 2.0 ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '8'
        java-package: jdk
        check-latest: true
    - run: chmod +x gradlew
    - run: ./gradlew clean build
